.FAQ{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.FAQ > .titulo{
    font-size: 64px;
    color: var(--color-title);
    font-weight: 700;
    font-family: var(--font-display)
}
.caixa2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
}
.caixa2 > section nav{
    color: var(--color-brown);
    border-bottom: 1px solid var(--color-border-faq);
    font-size: 24px;
}
.js-faq section div{
    display: none;
}
.js-faq section div.active{
    display: block;
}

.rotação{
    transform: rotate(180deg);
}

