  *{
    margin:0;
    padding: 0;
    border: 0;
    outline:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.menu2 nav{
    display: none;
}




@keyframes slideDownMenu {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (min-width: 768px) {
    .menu{
        max-width: var(--width);
        margin: 2rem  0 2rem auto;
        background-color: var(--background-green);
        color: var(--color-white);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px;;
    
    
    }

    
    .menu > a{
        color: var(--color-white);
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .botão{
        background-color: white;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        margin-left: 5px;
    }
    
    .botão > a{
        color: #814813;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.6px;
        font-size: 14px;
    
    }
    
    .botão > span{
        color: #814813;
    }

    .conteudo-menuMobile{
        display: none;
    }

    .menu-icone{
        display: none;
    }
    
    
    
}

@media screen and (max-width: 768px) {

    .conteudo-menuMobile{
        display: none;
    }

    .conteudo-menuMobile.active{
        max-width: var(--width);
        margin: 2rem  0 2rem auto;
        background-color: var(--background-green);
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
        padding: 5%;
        z-index: 100;
        animation: slideDownMenu .5s forwards;

    }

    .conteudo-menuMobile > div{
        padding: 1.3%;
    }

    .conteudo-menuMobile > div > a{
        color: var(--color-white);
        margin-left: 5px;
        margin-right: 5px;
    }


    .botão{
        background-color: white;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        margin-left: 5px;
    }
    
    .botão > a{
        color: #814813;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.6px;
        font-size: 14px;
    
    }
    
    .botão > span{
        color: #814813;
    }

    .menu{
        display: none;
    }

    .menu-icone  {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #494949;
    color: var(--color-white);
    padding: 0.625rem;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin: 5%;
    width: fit-content;
    }

    .menu-icone span.active{
        animation: slideDownMenu .5s forwards;

    }

    

}